/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: black;
}

.bg-grey-color {
  background-color: #f4f9fd;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.col-2 {
  width: calc(100% / 2);
}

.col-3 {
  width: calc(100% / 3);
}

.w-20 {
  width: 20%;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.align-center {
  text-align: center;
}

.alingn-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.menu-inline {
  display: inline-block;
}

h4 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.box-white-shadow {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 11px #eaf0f6;
  padding: 3% 3%;
}

i.fa-check-circle {
  color: #f9775a;
}

.btn {
  display: inline-block;
  color: #f9775a;
  border-radius: 5px;
  border: 1px solid #f9775a;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 80%;
}

.btn.btn-large {
  padding: 20px 20px;
}

.btn.btn-color {
  background-color: #f9775a;
  color: white;
}

.btn.btn-color:active {
  background-color: #f98b73;
}

.btn.btn-color:hover {
  color: whitesmoke;
}

/* GENERAL */

/* CHAT */
.chat {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 800;
}

.chat img {
  vertical-align: middle;
}

.chat-container {
  position: relative;
}

.chat-cloud {
  position: absolute;
  right: 0;
  bottom: 80px;
  width: 300px;
  height: 130px;
  background-color: white;
  border-radius: 5px;
  display: none;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
}

.chat-cloud-box {
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  position: relative;
}

.chat-cloud-box .cloud {
  position: absolute;
  top: -33px;
  left: 37%;
  width: 20%;
}

.chat-cloud-box .bubble{
  position: absolute;
  bottom: -16%;
  right: 15%;
}

.btn-chat {
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px black;
  background-color: #3e5d79;
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn-chat:active {
  background-color: #5d87ac;
}

.chat:hover .chat-cloud {
  display: block;
}
/* /CHAT */

/* NAV-BAR FISSA */
.nav-bar-container {
  width: 100%;
  height: 80px;
  padding: 0 10%;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 998;
  top: 0;
  min-width: 1200px;
}

.nav-bar {
  height: 100%;
  line-height: 80px;
}

.nav-bar a {
  color: black;
}

.nav-bar a:hover {
  color: coral;
}

.nav-bar-left li,
.nav-bar-right li {
  display: inline;
}

.nav-bar-left .menu .first-level a:nth-child(2) {
  border-right: 1px solid black;
  padding-right: 10%;
}

.nav-bar-left li:nth-child(2) a {
  padding-left: 2%;
}

.nav-bar-right li {
  margin-left: 4%;
}

.nav-bar-right li:nth-child(1) a {
  color: #25a4bd;
}

/* NAV-BAR FISSA  - MENU A TENDINA*/
.menu {
  width: 100%;
}

.menu .first-level{
  position: relative;
}

.menu ul {
  width: 100px;
  position: absolute;
  top: 60px;
  left: 6px;
  padding: 0 10%;
  background-color: white;
  z-index: 999;
  display: none;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
}

.menu ul::after{
  position:absolute;
  content:"";
  width: 0;
  height: 0;
  top: -10px;
  right: 4px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
}

.menu .first-level ul li {
  display: block;
  line-height: 40px;
  text-align: left;
}

.menu .first-level ul li a {
  border-right: none;
}

.menu .first-level:hover ul {
  display: block;
  z-index: 999;
}
/* /NAV-BAR FISSA  - MENU A TENDINA*/
/* /NAV-BAR FISSA */

/* HEADER */
header {
  margin-top: 80px;
  background-color: coral;
}
/* HEADER - NAV */
nav {
  width: 100%;
  height: 80px;
  padding: 0 10%;
  min-width: 1200px;
  background-color: white;
}

.nav-menu {
  height: 100%;
  line-height: 80px;
}

.nav-menu a:hover {
  color: coral;
}

.nav-menu-left {
  width: 30%;
}

.nav-menu-right {
  width: 70%;
}

.nav-menu-left img {
  padding-top: 6%;
}

.nav-menu-right li {
  display: inline;
}

.nav-menu-right li a {
  color: black;
  margin-left: 4%;
}

.relative_menu {
  position: relative;
}

#partners .white_menu_box {
  width: 100px;
  position: absolute;
  top: 60px;
  right: 11%;
  padding: 0 10%;
  background-color: white;
  z-index: 999;
  display: none;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
}

.white_menu_box::after{
  position:absolute;
  content:"";
  width: 0;
  height: 0;
  top: -10px;
  right: 4px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
}

.white_menu_box li {
  display: block;
  line-height: 40px;
  text-align: left;
}

#partners{
  width: 100%;
}

#partners:hover .white_menu_box {
  display: block;
  z-index: 999;
}


/* / HEADER - NAV */
/* HEADER CONTAINER */
.header-container {
  width: 100%;
  height: 680px;
  min-width: 1200px;
}

.jumbotron {
  position: relative;
  height: 100%;
  max-height: 680px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron-text {
  position: absolute;
  padding-top: 5%;
  padding-left: 10%;
}

.jumbotron-text h1 {
  font-size: 2.8em;
  margin-bottom: 5%;
}

.jumbotron-text p,
.jumbotron-text li {
  margin-bottom: 5%;
}

.jumbotron-text p:last-child {
  font-size: 0.8em;
}

.strip {
  width: 100%;
  height: 12%;
  background-color: #afebe4;
  position: absolute;
  bottom: 0;
  border-top: 4px solid #3d4f62;
  border-bottom: 4px solid #3d4f62;
}

/* / HEADER CONTAINER */

/* / HEADER */

/* MAIN */
main {
  width: 100%;
}

/* MAIN - MAIN CONTAINER 1  */
#main-container_1 {
  width: 100%;
  min-width: 1200px;
  padding: 0 10%;
}

/* MAIN - MAIN CONTAINER 1 - CUBE*/
.cube {
  padding-top: 2%;
}

.cube-image {
  width: 25%;
  margin: auto;
}

.cube-image img {
  width: 100%;
}

.cube-text h2 {
  padding-bottom: 2%;
}

.cube-text p {
  padding: 0 8% 2% 8%;
}

/* / MAIN - MAIN CONTAINER 1 - CUBE*/

/* MAIN - MAIN CONTAINER 1 - FREE HUB*/
.free-hub {
  width: 100%;
  margin-bottom: 4%;
}

.free-hub-left {
  width: 30%;
}

.free-hub-right {
  width: 60%;
}

.free-hub-left-image {
  width: 100%;
  height: 130px;
}

.free-hub-left-image img {
  height: 100%;
}

.free-hub-right h3,
.free-hub-right p {
  margin-bottom: 3%;
}

.free-hub-right h4 {
  width: 30%;
  padding-bottom: 6%;
}

.free-hub-right .line {
  margin-top: 10px;
  width: 55%;
  height: 1px;
  background-color: black;
}

.free-hub-right li {
  display: inline-block;
  padding-right: 5%;
  padding-left: 2%;
}

/* / MAIN - MAIN CONTAINER 1 - FREE HUB*/

/* MAIN - MAIN CONTAINER 1 - FEATURES*/
.features {
  width: 100%;
  padding-bottom: 4%;
}

.features .features-container:nth-child(1),
.features .features-container:nth-child(2) {
  margin-right: 2%;
}

.features-container {
  width: calc(96% / 3);
}

.features-container-image {
  width: 100%;
  height: 130px;
}

.features-container-image img {
  height: 100%;
  padding-bottom: 5%;
}

.features-container-text {
  padding: 0 3%;
}

.features-container-text h3 {
  padding-bottom: 5%;
}

.features-container-text p:nth-child(2) {
  height: 170px;
  padding-bottom: 20%;
  border-bottom: 1px solid black;
}

.features-container-text h4 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.features-container-text ul {
  padding-bottom: 10%;
  text-align: left;
}

.features-container-text ul:last-child {
  text-align: center;
}

/* /MAIN - MAIN CONTAINER 1 - FEATURES*/

/* MAIN - LEARN AND GROW*/
#learn_and_grow {
  width: 100%;
  padding: 3% 10%;
  margin: auto;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  min-width: 1200px;
}

.learn_and_grow-container h1,
.learn_and_grow-container p {
  color: white;
  padding-bottom: 2%;
}

.learn_and_grow-container h1 {
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.learn_and_grow-container p:nth-child(1) {
  font-size: 0.8em;
}

.learn_and_grow-container h1::after {
  content: " \002b";
  font-size: small;
  vertical-align: text-bottom;
  line-height: 35px;
}

.goal {
  width: calc(100% / 4);
  height: 250px;
  padding: 30px;
}

.hubspot-1 .goal {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.hubspot-1 .goal:nth-child(4),
.hubspot-2 .goal:nth-child(4) {
  border-right: none;
}

.hubspot-2 .goal {
  border-right: 1px solid white;
}

.goal-image {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-bottom: 6%;
}

.goal-image img {
  height: 100%;
}

.goal h1 {
  margin-bottom: 10px;
}

/* / MAIN - LEARN AND GROW*/

/* MAIN - MAIN CONTAINER 2*/
#main-container_2 {
  width: 100%;
  min-width: 1200px;
  padding: 3% 10%;
}

/* MAIN - MAIN CONTAINER 2 - BUSINESS SECTION*/
.business {
  margin-bottom: 8%;
}

.business-left {
  width: 33.3%;
  margin-right: 2%;
  padding-left: 8%;
  padding-right: 5%;
}

.business-left h1 {
  padding-bottom: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}

.business-right {
  width: 64.6%;
  height: 100px;
}

.business-right .brands {
  width: 100%;
  height: 50%;
}

.business-right .brands img {
  display: inline-block;
  width: 20%;
  margin-right: 4%;
  vertical-align: middle;
}

/* / MAIN - MAIN CONTAINER 2 - BUSINESS SECTION*/
.get_started {
  margin-bottom: 4%;
  padding-top: 2%;
  background-image: url(../img/woman.webp);
  background-size: 257px;
  background-repeat: no-repeat;
  background-position: right;
}

.get_started h1 {
  padding-top: 5%;
}

.get_started h1,
.get_started p,
.get_started ul {
  padding-bottom: 5%;
}

.get_started p:last-child {
  font-size: 0.8em;
}

/* / MAIN - MAIN CONTAINER 2 - GET STARTED SECTION*/

/* / MAIN - MAIN CONTAINER 2 */

/* / MAIN  */

/* FOOTER */
footer {
  background-color: #32495b;
  width: 100%;
  padding: 3% 10%;
  color: white;
  text-transform: capitalize;
}

.footer-container {
  width: 100%;
  margin: auto;
  padding-bottom: 5%;
}

.footer-menu {
  width: calc(100% / 4);
}

footer h3 {
  margin-bottom: 6%;
}

footer p {
  color: #8f8f8f;
}

.footer-menu ul li {
  margin-bottom: 4%;
}

.footer-info ul li:hover a,
.footer-menu ul li:hover a,
.footer-menu .btn:hover {
  color: coral;
}

.footer-info ul li a,
.footer-menu ul li a {
  color: white;
}

.footer-menu .btn {
  color: #32495b;
  background-color: #dadee0;
  border-color: #dadee0;
}

.footer-menu .btn:active {
  background-color: #dadee0b6;
}

.footer-menu ul li.menu-inline {
  padding-right: 10%;
}

.footer-info .language {
  border-bottom: 1px solid white;
}

.footer-info .language li {
  margin-right: 3%;
  padding-bottom: 2%;
}

.footer-info .legal {
  padding-top: 3%;
}

.footer-info .legal-menu li {
  display: inline-block;
  padding-left: 5%;
}
/* / FOOTER */

/* MENU BOTTON FIXED */

/* .chat:focus .chat-cloud{
  visibility: visible;
} */

/* .chat:hover .chat-cloud{
  visibility: visible;
} */

/* .clicker {
  width:100px;
  height:100px;
  background-color:blue;
  outline:none;
  cursor:pointer;
  }
  
  .hiddendiv{
  display:none;
  height:200px;
  background-color:green;
  }
  
  .clicker:focus + .hiddendiv{
  display:block;
  } */
