/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: black;
}

.bg-grey-color {
  background-color: #f4f9fd;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.col-2 {
  width: calc(100% / 2);
}

.col-3 {
  width: calc(100% / 3);
}

.w-50 {
  width: 50%;
}

.menu-inline{
  display: inline-block;
}

h4 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

.box-white-shadow {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 11px #eaf0f6;
  padding: 3% 3%;
}

i.fa-check-circle {
  color: #f9775a;
}

.btn {
  display: inline-block;
  color: #f9775a;
  border-radius: 5px;
  border: 1px solid #f9775a;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 80%;
}

.btn.btn-large {
  padding: 20px 20px;
}

.btn.btn-color {
  background-color: #f9775a;
  color: white;
}

.btn.btn-color:active {
  background-color: #f98b73;
}
.btn.btn-color:hover {
  color: whitesmoke;
}
/* GENERAL */

/* allineare i min width? */

/* NAV-BAR FISSA */
.nav-bar-container {
  width: 100%;
  height: 80px;
  padding: 0 10%;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
  top: 0;
  min-width: 1200px;
}

.nav-bar {
  height: 100%;
  line-height: 80px;
}

.nav-bar a {
  color: black;
}

.nav-bar a:hover {
  color: coral;
}

.nav-bar-left li,
.nav-bar-right li {
  display: inline;
}

.nav-bar-left li:first-child a {
  border-right: 1px solid black;
  padding-right: 4%;
}

.nav-bar-left li:nth-child(2) a {
  padding-left: 4%;
}

.nav-bar-right {
  text-align: right;
}

.nav-bar-right li {
  margin-left: 4%;
}

.nav-bar-right li:nth-child(1) a {
  color: #25a4bd;
}
/* NAV-BAR FISSA */

header {
  margin-top: 80px;
  height: 700px;
  background-color: coral;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  width: 100%;
  height: 80px;
  padding: 0 10%;
  min-width: 1200px;
  background-color: white;
}

.nav-menu {
  height: 100%;
  line-height: 80px;
}

.nav-menu a:hover {
  color: coral;
}

.nav-menu-left {
  width: 30%;
}

.nav-menu-right {
  width: 70%;
  text-align: right;
}

.nav-menu-left img {
  padding-top: 6%;
}

.nav-menu-right li {
  display: inline;
}

.nav-menu-right li a {
  color: black;
  margin-left: 4%;
}

/* HEADER */
.header-container {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  padding: 0 10%;
}

.jumbotron {
  position: relative;
  height: 470px;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron-text h1 {
  font-size: 2.8em;
  margin-bottom: 5%;
}

.jumbotron-text p {
  margin-bottom: 5%;
}

.jumbotron-text li {
  margin-bottom: 5%;
}

.jumbotron-text p:last-child {
  font-size: 0.8em;
}
/* / HEADER */

/* MAIN */
main {
  width: 100%;
}
/* MAIN - MAIN CONTAINER 1  */
#main-container_1 {
  width: 100%;
  min-width: 1200px;
  padding: 0 10%;
}

/* MAIN - MAIN CONTAINER 1 - CUBE*/
.cube {
  text-align: center;
  padding-top: 2%;
}

.cube-image {
  width: 25%;
  margin: auto;
}

.cube-image img {
  width: 100%;
}

.cube-text h2 {
  padding-bottom: 2%;
}

.cube-text p {
  padding: 0 8% 2% 8%;
}
/* / MAIN - MAIN CONTAINER 1 - CUBE*/

/* MAIN - MAIN CONTAINER 1 - FREE HUB*/
.free-hub {
  width: 100%;
  margin-bottom: 4%;
}

.free-hub-left {
  width: 30%;
}

.free-hub-right {
  width: 60%;
}

.free-hub-left-image {
  width: 100%;
  height: 130px;
  text-align: center;
}

.free-hub-left-image img {
  height: 100%;
}

.free-hub-left-text {
  text-align: center;
}

.free-hub-right h3,
.free-hub-right p {
  margin-bottom: 3%;
}

.free-hub-right h4 {
  width: 30%;
  padding-bottom: 6%;
}

.free-hub-right .line {
  margin-top: 10px;
  width: 55%;
  height: 1px;
  background-color: black;
}

.free-hub-right li {
  display: inline-block;
  padding-right: 5%;
  padding-left: 2%;
}
/* / MAIN - MAIN CONTAINER 1 - FREE HUB*/

/* MAIN - MAIN CONTAINER 1 - FEATURES*/
.features {
  width: 100%;
  text-align: center;
  padding-bottom: 4%;
}

.features .features-container:nth-child(1) {
  margin-right: 2%;
}

.features .features-container:nth-child(2) {
  margin-right: 2%;
}

.features-container {
  width: calc(96% / 3);
}

.features-container-image {
  width: 100%;
  height: 130px;
}

.features-container-image img {
  height: 100%;
  padding-bottom: 5%;
}

.features-container-text {
  padding: 0 3%;
}

.features-container-text h3 {
  padding-bottom: 5%;
}

.features-container-text p:nth-child(2) {
  height: 170px;
  padding-bottom: 20%;
  border-bottom: 1px solid black;
}

.features-container-text h4 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.features-container-text ul {
  padding-bottom: 10%;
  text-align: left;
}

.features-container-text ul:last-child {
  text-align: center;
}
/* /MAIN - MAIN CONTAINER 1 - FEATURES*/

/* MAIN - LEARN AND GROW*/
#learn_and_grow {
  width: 100%;
  padding: 3% 10%;
  margin: auto;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  min-width: 1200px;
}

.learn_and_grow-container {
  text-align: center;
}

.learn_and_grow-container h1,
.learn_and_grow-container p {
  color: white;
  padding-bottom: 2%;
}

.learn_and_grow-container h1 {
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.learn_and_grow-container p:nth-child(1) {
  font-size: 0.8em;
}

.learn_and_grow-container h1::after {
  content: " \002b";
  font-size: small;
  vertical-align: middle;
}

.goal {
  width: calc(100% / 4);
  height: 250px;
  padding: 30px;
}

.hubspot-1 .goal {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.hubspot-1 .goal:nth-child(4) {
  border-right: none;
}

.hubspot-2 .goal {
  border-right: 1px solid white;
}

.hubspot-2 .goal:nth-child(4) {
  border-right: none;
}

.goal-image {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-bottom: 6%;
}

.goal-image img {
  height: 100%;
}

.goal h1 {
  margin-bottom: 10px;
}
/* / MAIN - LEARN AND GROW*/

/* MAIN - MAIN CONTAINER 2*/
#main-container_2 {
  width: 100%;
  min-width: 1200px;
  padding: 3% 10%;
}

/* MAIN - MAIN CONTAINER 2 - BUSINESS SECTION*/
.business {
  margin-bottom: 8%;
}

.business-left {
  width: 33.3%;
  margin-right: 2%;
  padding-left: 8%;
  padding-right: 5%;
}

.business-left h1 {
  padding-bottom: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}

.business-right {
  width: 64.6%;
  height: 100px;
}

.business-right .brands {
  width: 100%;
  height: 50%;
}

.business-right .brands img {
  display: inline-block;
  width: 20%;
  margin-right: 4%;
  vertical-align: middle;
}
/* / MAIN - MAIN CONTAINER 2 - BUSINESS SECTION*/
.get_started {
  margin-bottom: 4%;
  background-image: url(../img/woman.webp);
  background-size: 257px;
  background-repeat: no-repeat;
  background-position: right;
}

.get_started h1 {
  padding-top: 5%;
}

.get_started h1,
.get_started p,
.get_started ul {
  padding-bottom: 5%;
}

.get_started p:last-child {
  font-size: 0.8em;
}
/* / MAIN - MAIN CONTAINER 2 - GET STARTED SECTION*/

/* / MAIN - MAIN CONTAINER 2 */

/* / MAIN  */

/* FOOTER */
footer{
  background-color: #32495B;
  width: 100%;
  padding: 3% 10%;
  color: white;
  text-transform: capitalize;
}

.footer-container{
  width: 100%;
  margin: auto;
  padding-bottom: 5%;
}

.footer-menu{
  width: calc(100% / 4);
}

footer h3{
  margin-bottom: 6%;
}

footer p{
  color: #8f8f8f;
}

.footer-menu ul li{
  margin-bottom: 4%;
}

.footer-info ul li:hover a,
.footer-menu ul li:hover a{
  color: coral;
}

.footer-info ul li a,
.footer-menu ul li a{
  color: white;
}

.footer-menu .btn{
  color:  #32495B;
  background-color: #DADEE0;
  border-color: #DADEE0;
}

.footer-menu .btn:active{
  background-color: #dadee0b6;
}

.footer-menu .btn:hover{
  color: coral;
}

.footer-menu ul li.menu-inline{
  padding-right: 10%;
}

.footer-info .language{
  text-align: center;
}

.footer-info .language{
  border-bottom: 1px solid white;
}

.footer-info .language li{
  margin-right: 3%;
  padding-bottom: 2%;
}

.footer-info .legal {
  padding-top: 3%;
}

.footer-info .legal-menu ul{
  text-align: right;
}

.footer-info .legal-menu li{
  display: inline-block;
  padding-left: 5%;
}
/* / FOOTER */